
h2{
    margin: 0;     
    color: #666;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 450px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
    margin: 20px;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}

.tbl-width-num{
    width:120px;
}

.footer-color{
    background-color: #f5f5f5;
    border-top: 1px solid #E8E8E8;
}

.txtAreaNoResize{
    resize:none;
}

/* ------- Custom paddign ------- */

.horisontal-buffer-small{
    margin-top:25px;
    margin-bottom:25px;
    }

.top-buffer-small { 
    margin-top:25px; 
}
.top-buffer-medium { 
    margin-top:55px; 
}
.top-buffer-large { 
    margin-top:95px;
}

.right-buffer-small {
    margin-right:15px; 
}

.left-buffer-small {
    margin-right:15px; 
}
.bottom-buffer-small {
    margin-bottom:15px; 
}

.btn-margin{
    margin: 20px 10px 10px 10px;
}
.tbl-margin{
    margin-bottom: 20px;
}

.tbl-buffer-medium{
    margin: 35px 0px 20px 0px;
}
.tbl-padding{
    padding: 0 25px 3px 0;
}

.top-padding-small{
    padding-right: 15px;
}
.right-padding-small{
    padding-right: 15px;
}
.padding{
    padding: 15px;
}


/* ------- Map ------- */

#map-container { 
    height: 375px;
}